body{
  background-color: brown;
}
main {
  margin: auto;
  padding: 150px 0;  
}
.title{
text-align: center;
padding: 20px;
color:azure ;
font-size: 50px;
}
.tabs-div {
  background-color: antiquewhite;
  width: 50%;
  padding: 20px;
  margin: auto;
}
ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
li {
  color: brown;
  font-size: 24px;
  font-weight: bold;
}

.watch-div {
  margin: auto;
  width: 50%;
  padding: 20px;
  background-color: azure;
}
.buttons-div {
  margin: auto;
  padding: 20px;
  width: 50%;
  display: flex;
  justify-content: space-around;
}
p {
  text-align: center;
}
button {
  padding: 15px;
  background-color: brown;
  color: azure;
  border: 0px;
  border-radius: 5px;
  font-size: 15px;
}
time {
  color: brown;
  font-size: 36px;
}

span {
  font-size: 20px;
}
.timer-div {
  display: none;
  margin: auto;
  width: 50%;
  padding: 20px;
  background-color: azure;
}
h1{
    color: brown;
    text-align: center;
}
input {
  margin: 0 auto;
  display: block;
  width: 15%;
  padding: 15px;
  border-top : none;
  border-left : none;
  border-right : none;
  border-bottom-color: brown;
  font-size: 24px;
  color: brown;
}
.input-div {
  display: flex;
  flex-direction: row;
}

